@model ApplicationCore.Entities.Telegram

@{
    ViewData["Title"] = "Make a New Telegram";
    ViewData["Action"] = "Create";
}

<h2>Create</h2>

<h4>Telegram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_EditTelegram", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
